auto-install-peers=false
enable-pre-post-scripts=true
# NOTE:
# Temporarily disable it,
# because some of the CI actions uses Node.js below LTS
# engine-strict=true
# FIXME:: Remove once the `vite-plugin-node` supports v5
legacy-peer-deps=true
