#:schema https://json.schemastore.org/lefthook.json

[pre-commit.commands]
biome = { glob = "*.{cjs,js,ts,d.ts,json,jsonc}", run = "pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}" }
markdownlint = { glob = "*.md", run = "pnpm markdownlint-cli2 {staged_files}" }
prettier = { glob = "*.{astro,html,svelte}", run = "prettier --cache --cache-location node_modules/.cache/prettier --list-different {staged_files}" }
typos = { glob = "*", run = "typos --verbose" }
vitest = { glob = "**/src/*.{ts,d.ts}", run = "pnpm test" }
