# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
# NOTE: CD -> Continuous Deployment
name: CD

on:
    pull_request:
        branches: [main]
        types: [opened, ready_for_review, reopened, synchronize]
    push:
        branches: [main]
    workflow_dispatch:
        inputs:
            reason:
                description: Reason of re-running this workflow
                required: false
                type: string

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

env:
    CI: true

permissions:
    contents: read
    id-token: write
    pages: write
    pull-requests: read

jobs:
    build_docs:
        name: build
        uses: ./.github/workflows/typedoc.yml
