# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
# NOTE: CI -> Continuous Integration
# NOTE: CD -> Continuous Deployment
name: CI & CD

on:
    pull_request:
        branches: [main]
        types: [opened, ready_for_review, reopened, synchronize]
    push:
        branches: [main]
    workflow_dispatch:
        inputs:
            reason:
                description: Reason of re-running this workflow
                required: false
                type: string

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

env:
    CI: true

permissions:
    contents: read
    id-token: write
    pages: write
    pull-requests: write

jobs:
    lint_biome:
        name: lint
        uses: ./.github/workflows/biome.yml

    lint_markdownlint:
        name: lint
        uses: ./.github/workflows/markdownlint.yml

    lint_size_limit:
        if: github.event_name == 'pull_request'
        name: lint
        uses: ./.github/workflows/size-limit.yml

    lint_typos:
        name: lint
        uses: ./.github/workflows/typos.yml

    build_tsc:
        name: build
        uses: ./.github/workflows/tsc.yml

    docs_typedoc:
        name: docs
        needs: [build_tsc]
        uses: ./.github/workflows/typedoc.yml

    test_vitest:
        needs: [build_tsc]
        name: test
        uses: ./.github/workflows/vitest.yml
