name: CI & CD
# NOTE: CI -> Continuous Integration
# NOTE: CD -> Continuous Deployment

on:
    pull_request:
        branches: [main]
        types: [opened, ready_for_review, reopened, synchronize]
    push:
        branches: [main]
    workflow_dispatch:
        inputs:
            reason:
                description: Reason of re-running this workflow
                required: false
                type: string

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

env:
    CI: true

permissions:
    contents: read
    id-token: write
    pages: write
    pull-requests: write

jobs:
    lint_biome:
        name: lint
        uses: ./.github/workflows/biome.yml

    lint_markdownlint:
        name: lint
        uses: ./.github/workflows/markdownlint.yml

    lint_prettier:
        name: lint
        uses: ./.github/workflows/prettier.yml

    lint_size_limit:
        name: lint
        uses: ./.github/workflows/size-limit.yml
        needs: [build_packages]
        if: github.event_name == 'pull_request'

    lint_typos:
        name: lint
        uses: ./.github/workflows/typos.yml

    build_packages:
        name: packages
        uses: ./.github/workflows/build.yml
        secrets: inherit

    docs_typedoc:
        name: docs
        uses: ./.github/workflows/typedoc.yml
        needs: [build_packages]
        if: |
            github.event_name == 'push' &&
            github.event.ref == 'refs/heads/main' &&
            github.event.head_commit.parents.length > 1

    test_vitest:
        needs: [build_packages]
        name: test
        uses: ./.github/workflows/vitest.yml
        secrets: inherit
