# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
# NOTE: CI -> Continuous Integration
name: CI

on:
    pull_request:
        branches: [main]
        types: [opened, ready_for_review, reopened, synchronize]
    push:
        branches: [main]
    workflow_dispatch:
        inputs:
            reason:
                description: Reason of re-running this workflow
                required: false
                type: string

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

env:
    CI: true

permissions:
    contents: read
    pull-requests: write

jobs:
    lint_biome:
        name: lint
        uses: ./.github/workflows/biome.yml

    lint_typos:
        name: lint
        uses: ./.github/workflows/typos.yml

    test_vitest:
        name: test
        uses: ./.github/workflows/vitest.yml

    build_tsc:
        name: build
        uses: ./.github/workflows/tsc.yml
