name: Pull Request

on:
    push:
        branches: [main]
    pull_request_target:
        types: [opened, synchronize, reopened]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

env:
    CI: true

permissions:
    contents: read
    pull-requests: write

jobs:
    pull-request-codesee-map:
        name: Overview
        uses: ./.github/workflows/codesee.yml
        secrets:
            CODESEE_ARCH_DIAG_API_TOKEN: ${{ secrets.CODESEE_ARCH_DIAG_API_TOKEN }}
