name: size-limit

on: workflow_call

defaults:
    run:
        shell: bash

env:
    CI: true
    CI_JOB_NUMBER: 1

permissions:
    contents: read
    pull-requests: write

jobs:
    size-limit:
        # FIXME: It fails on MacOS, needs invegistation
        runs-on: ubuntu-latest
        timeout-minutes: 2
        steps:
            # https://github.com/actions/checkout
            - uses: actions/checkout@v4

            # https://nodejs.org/api/corepack.html
            - name: Enable corepack (for pnpm)
              run: corepack enable

            - name: Setup the latest Node.js LTS version
              # https://github.com/actions/setup-node
              uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: lts/*

            - name: Install Node.js dependencies with pnpm
              # https://pnpm.io/cli/install
              run: >
                  pnpm install
                  --frozen-lockfile

            - name: Download build output from artifacts
              # https://github.com/actions/download-artifact
              uses: actions/download-artifact@v4
              with:
                  name: build-output
                  path: build-output

            - name: Extract build output from downloaded artifact
              # https://raw.githubusercontent.com/shan-shan-dev/shan-shan/main/.github/scripts/extract-build-output.sh
              shell: bash
              run: >
                  curl
                  --request GET
                  https://raw.githubusercontent.com/shan-shan-dev/shan-shan/main/.github/scripts/extract-build-output.sh
                  | bash -s build-output

            # https://github.com/andresz1/size-limit-action
            - uses: andresz1/size-limit-action@v1.7.0
              with:
                  skip_step: build
                  github_token: ${{ secrets.GITHUB_TOKEN }}
