name: size-limit

on:
    workflow_call:
    workflow_dispatch:

defaults:
    run:
        shell: bash

env:
    CI: true
    CI_JOB_NUMBER: 1

permissions:
    contents: read
    pull-requests: write

jobs:
    size-limit:
        runs-on: macos-14
        timeout-minutes: 2
        steps:
            # https://github.com/actions/checkout
            - uses: actions/checkout@v4

            # https://nodejs.org/api/corepack.html
            - name: Enable corepack (for pnpm)
              run: corepack enable

            - name: Setup the latest Node.js LTS version
              # https://github.com/actions/setup-node
              uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: lts/*

            # https://github.com/andresz1/size-limit-action
            - uses: andresz1/size-limit-action@v1.7.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
