# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
name: tsc
on:
    workflow_call:
    workflow_dispatch:

defaults:
    run:
        shell: bash

env:
    CI: true
    # Prevent possible memory leaks by setting limit
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    NODE_OPTIONS: --max-old-space-size=6144

permissions:
    contents: read
    pull-requests: read

jobs:
    tsc:
        runs-on: ubuntu-latest
        timeout-minutes: 2
        steps:
            # https://github.com/actions/checkout
            - uses: actions/checkout@v4

            # https://nodejs.org/api/corepack.html
            - name: Enable corepack (for pnpm)
              run: corepack enable

            - name: Setup the latest Node.js LTS version
              # https://github.com/actions/setup-node
              uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: lts/*

            - name: Execute build task with compression report
              # https://github.com/preactjs/compressed-size-action
              uses: preactjs/compressed-size-action@2.5.0
              with:
                  build-script: build
                  exclude: "{**/*.map,**/node_modules/**}"
                  pattern: "./apps/*/bin/**/*.js,./packages/*/lib/**/*.js"
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload built output to GitHub Actions workflow artifacts
              # https://github.com/actions/upload-artifact
              uses: actions/upload-artifact@v4
              with:
                  if-no-files-found: error
                  name: build-output
                  path: |
                      ./apps/*/bin/
                      ./packages/*/lib/
