name: TypeDoc
on:
    workflow_call:
        inputs:
            type:
                description: Should it be a `pr-preview` or `deploy`?
                required: true
                type: string

defaults:
    run:
        shell: bash

env:
    CI: true
    # Prevent possible memory leaks by setting limit
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    NODE_OPTIONS: --max-old-space-size=6144
    BRANCH: gh-pages
    OUTPUT_DIR: docs
    UMBRELLA_DIR: docs/pr-preview

permissions:
    contents: write
    id-token: write
    pages: write
    pull-requests: write

jobs:
    typedoc:
        name: TypeDoc
        runs-on: macos-14
        timeout-minutes: 2
        steps:
            # https://github.com/actions/checkout
            - uses: actions/checkout@v4

            - name: Enable corepack (for pnpm)
              # https://nodejs.org/api/corepack.html
              run: corepack enable

            - name: Setup the latest Node.js LTS version
              # https://github.com/actions/setup-node
              uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: lts/*

            - name: Install Node.js dependencies with pnpm
              # https://pnpm.io/cli/install
              run: >
                  pnpm install
                  --frozen-lockfile

            - name: Download build output from artifacts
              # https://github.com/actions/download-artifact
              uses: actions/download-artifact@v4
              with:
                  name: build-output
                  path: build-output

            - name: Extract build output from downloaded artifact
              # https://raw.githubusercontent.com/shan-shan-dev/shan-shan/main/.github/scripts/extract-build-output.sh
              shell: bash
              run: >
                  curl
                  --request GET
                  https://raw.githubusercontent.com/shan-shan-dev/shan-shan/main/.github/scripts/extract-build-output.sh
                  | bash -s build-output

            - name: Build docs
              run: pnpm run build:doc

            - name: Create PR preview on the GitHub Pages
              # https://github.com/rossjrw/pr-preview-action
              uses: rossjrw/pr-preview-action@v1.4.8
              if: ${{ inputs.type == 'pr-preview' }}
              with:
                  preview-branch: ${{ env.BRANCH }}
                  source-dir: ${{ env.OUTPUT_DIR }}
                  umbrella-dir: ${{ env.UMBRELLA_DIR }}

            - name: Deploy TypeDoc to GitHub Pages
              # https://github.com/JamesIves/github-pages-deploy-action
              uses: JamesIves/github-pages-deploy-action@v4.5.0
              if: ${{ inputs.type == 'deploy' }}
              with:
                  clean-exclude: ${{ env.UMBRELLA_DIR }}
                  folder: ${{ env.OUTPUT_DIR }}
                  branch: ${{ env.BRANCH }}
