# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
---
name: Vitest
on:
    workflow_call:
    workflow_dispatch:

defaults:
    run:
        shell: bash

env:
    CI: true

jobs:
    vitest:
        name: Vitest
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        timeout-minutes: 1
        steps:
            # https://github.com/actions/checkout
            - uses: actions/checkout@v4

            - name: Enable corepack (for pnpm)
              # https://nodejs.org/api/corepack.html
              run: corepack enable

            - name: Setup the latest Node.js LTS version
              # https://github.com/actions/setup-node
              uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: lts/*

            - name: Install Node.js dependencies with pnpm
              # https://pnpm.io/cli/install
              run: >
                  pnpm install
                  --frozen-lockfile

            - name: Run tests with Vitest
              # https://vitest.dev/guide/cli.html
              run: >
                  pnpm test
                  --coverage.enabled
                  --coverage.provider=v8
                  --coverage.reporter=json-summary
                  --coverage.reporter=json

            - name: "Upload Coverage"
              uses: actions/upload-artifact@v4
              with:
                  name: coverage
                  path: coverage
